{% comment %} {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %} {% endcomment %}
{% comment %} {% assign avg_rating = 4 %}
<span style="color:{{ block.settings.colour }}">
  {% render 'stars', rating: avg_rating %}
</span>
{% if avg_rating >= 4 %}
  <br>
  <img src="{{ "thumbs-up.png" | asset_img_url: '15x' }}" height="15" width="15" loading="lazy">
  {{ 'ratings.home.recommendationText' | t }}
{% endif %} {% endcomment %}

{% comment %} {{ product.title }} {% endcomment %}

{% comment %} Is Hidden? {{ product.metafields.custom.hide_faq }} {% endcomment %}


  <div id='ostad-general-faq' data-groupid="{{ block.settings.group_id }}"></div>

{% comment %} <div id='ostad-general-faq' data-groupid="{{ block.settings.group_id }}"></div> {% endcomment %}

<script src="{{ 'scripts.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "text", "id": "title", "label": "Title", "default": "Hello World" },
    { "type": "text", "id": "group_id", "label": "Group ID", "default": "1" }
  ]
}
{% endschema %}

